<% if already_bookmark?(shop) %>
  <%= link_to shop_bookmark_path(shop_id: shop.id, id: current_user.bookmarks.find_by(shop_id: shop)), method: :delete, remote: true do %>
    <i class="fas fa-star mr-2"></i>
  <% end %>
<% else %>
  <%= link_to shop_bookmarks_path(shop_id: shop.id), method: :post, remote: true do %>
    <i class="far fa-star mr-2"></i>
  <% end %>
<% end %>
<%= shop.bookmarks_count %>
