<% provide(:title, "ユーザー編集") %>
<% breadcrumb :user_edit, current_user %>

<div class="row  justify-content-center px-3 py-5">
  <div class="col-md-8 p-5 border rounded shadow-sm">
    <h2 class="mb-4">ユーザー編集</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :avatar %><br/>
        <% if current_user.avatar? %>
          <%= image_tag current_user.avatar.url, class: 'resize rounded-circle border d-block mt-2 mb-3' %>
          <%= f.label :remove_avatar, for: 'exampleCheck1', class: 'mb-4' do %>
            <%= f.check_box :remove_avatar, id: 'exampleCheck1' %>
            <small>プロフィール画像を削除する</small>
          <% end %>
        <% else %>
          <%= image_tag '/assets/no_avatar.jpg', class: 'resize rounded-circle border d-block mt-2 mb-3' %>
        <% end %>
        <%= f.file_field :avatar, class: 'form-control-file', accept: 'image/jpeg,image/png' %>
        <%= f.hidden_field :avatar_cache %>
      </div>

      <div class="form-group">
        <%= f.label :introduction %><br />
        <%= f.text_area :introduction, rows: 5, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :favorite %><br />
        <%= f.collection_select :favorite, Shop.all, :id, :name, { prompt: "選択してください" }, { class: "custom-select" } %>
      </div>

      <div class="form-group">
        <%= f.label :password %>（変更したくない場合は空白のままにしてください）<br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em>※<%= @minimum_password_length %>文字以上</em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %><span class="need">*</span><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <%= f.submit nil, class: 'btn btn-primary mt-4' %>
    <% end %>

    <h3 class="mt-5">アカウントを削除する</h3>
    <%= button_to "削除する", registration_path(resource_name), data: { confirm: "本当にアカウントを削除してよろしいですか？" }, method: :delete, class: 'btn btn-danger mt-3 mb-5' %>

    <%= link_to "戻る", :back, class: 'text-muted' %>
  </div>
</div>
