<% provide(:title, "新規登録") %>
<% breadcrumb :signup %>

<div class="row  justify-content-center px-3 py-5">
  <div class="col-md-8 p-5 border rounded shadow-sm">
    <h2 class="mb-4">新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :username %><span class="need">*</span><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><span class="need">*</span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><span class="need">*</span>
        <% if @minimum_password_length %>
        <em>※<%= @minimum_password_length %>文字以上</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><span class="need">*</span><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <%= f.submit nil, class: 'btn btn-primary mt-4' %>
    <% end %>

    <div class="mt-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
