<% if shop.errors.present? %>
  <ul id="error_explanation">
    <% shop.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: shop, local: true do |f| %>
  <div class="form-group">
    <p><%= f.label :name %><span class="need">*</span></p>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :menu %>
    <%= f.text_area :menu, rows: 5, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :hour %>
    <%= f.text_field :hour, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :holiday %>
    <%= f.text_field :holiday, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :station %><span class="need">*</span>
    <%= f.text_field :station, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :picture %><br>
    <% if shop.picture? %>
      <%= image_tag(shop.picture.url, class: 'img-thumbnail resize d-block mt-2 mb-3') %>
      <%= f.label :remove_picture, for: 'exampleCheck1', class: 'mb-4' do %>
        <%= f.check_box :remove_picture, id: 'exampleCheck1' %>
        <small>画像を削除する</small>
      <% end %>
    <% end %>
    <%= f.file_field :picture, class: 'form-control-file', accept: 'image/jpeg,image/png'  %>
    <%= f.hidden_field :picture_cache %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary mt-4' %>
<% end %>
