<% provide(:title, "お店編集") %>
<% breadcrumb :shop_edit, @shop %>

<div class="row  justify-content-center px-3 py-5">
  <div class="col-md-8 p-5 border rounded shadow-sm">
    <h2 class="mb-4">お店編集</h2>
    <%= render 'form', shop: @shop %>
  </div>
</div>
