<% provide(:title, "お店を探す") %>
<% breadcrumb :shops %>

<h2 class="pt-5 pb-3">お店を探す</h2>
<%= search_form_for @q, class: 'mb-5' do |f| %>
  <div class="form-group row">
    <div class="col-md-5 my-2">
      <%= f.search_field :name_cont, class: 'form-control', placeholder: "お店の名前で検索" %>
    </div>
    <div class="col-md-5 my-2">
      <%= f.search_field :address_or_station_cont, class: 'form-control', placeholder: "住所・駅名で検索" %>
    </div>
    <div class="col-2 my-2">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<div class="mb-5">
  <%= link_to '新着順', shops_path, class: "btn btn-outline-success mr-3 #{"active" unless params[:sort]}" %>
  <%= link_to '人気順', { controller: "shops", action: "index", sort: "popular" }, class: "btn btn-outline-success mr-3 #{"active" if params[:sort]}" %>
</div>
<%= link_to 'お店を登録する', new_shop_path, class: 'btn btn-outline-primary mb-5' %>

<div class="mb-5">
  <%= paginate @shops %>
  <%= page_entries_info @shops %>
</div>

<div class="row">
  <%= render partial: "shared/shop", collection: @shops, locals: { col: "col-sm-6 col-md-4 col-xl-3" } %>
</div>

<div class="mb-5">
  <%= paginate @shops %>
</div>
