<% provide(:title, "#{@shop.name}") %>
<% breadcrumb :shop, @shop %>
  <div class="row justify-content-center">
    <div class="col-md-8 mt-4">
      <%= display_image(@shop) %>
      <div class="row my-4">
        <h2 class="col-9"><%= @shop.name %></h2>
        <div id="bookmark-btn" class="bookmark text-right col-3">
          <%= render 'bookmarks/bookmark', shop: @shop %>
        </div>
      </div>

      <div class="post-wrapper">
        <div class="d-flex justify-content-between mt-5 my-3">
          <h3>レビュー</h3>
          <% if @posts.present? && @shop.posts_count > 4 %>
            <p class="d-flex align-items-center small">
              <%= link_to 'もっと見る', shop_posts_path(@shop), class: "text-muted" %>
            </p>
          <% end %>
        </div>

        <% if @posts.present? %>
          <%= render partial: "shared/post", collection: @posts %>
        <% else %>
          <p>レビューはまだ投稿されていません。</p>
        <% end %>
        <%= link_to 'レビューを投稿する', new_shop_post_path(@shop), class: 'btn btn-outline-primary mt-5' %>
      </div>

      <div class="info-wrapper">
        <h3 class="mt-5 my-3">基本情報</h3>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="bg-light"><%= Shop.human_attribute_name(:name) %></th>
              <td><%= @shop.name %></td>
            </tr>
            <tr>
              <th class="bg-light"><%= Shop.human_attribute_name(:menu) %></th>
              <td><%= auto_link(simple_format(h(@shop.menu.presence || '-'), {}, sanitize: false), html: { target: '_blank' }) %></td>
            </tr>
            <tr>
              <th class="bg-light"><%= Shop.human_attribute_name(:hour) %></th>
              <td><%= @shop.hour.presence || '-' %></td>
            </tr>
            <tr>
              <th class="bg-light"><%= Shop.human_attribute_name(:holiday) %></th>
              <td><%= @shop.holiday.presence || '-' %></td>
            </tr>
            <tr>
              <th class="bg-light"><%= Shop.human_attribute_name(:station) %></th>
              <td><%= @shop.station %></td>
            </tr>
            <tr>
              <th class="bg-light"><%= Shop.human_attribute_name(:address) %></th>
              <td><%= @shop.address.presence || '-' %></td>
            </tr>
            <tr>
              <th class="bg-light"><%= Shop.human_attribute_name(:phone) %></th>
              <td><%= @shop.phone.presence || '-' %></td>
            </tr>
            <tr>
              <th class="bg-light"><%= Shop.human_attribute_name(:url) %></th>
              <td><a href="<%= @shop.url.presence || '#' %>", target="_blank"><%= @shop.url.presence || '-' %></a></td>
            </tr>
            <tr>
              <th class="bg-light"><%= Shop.human_attribute_name(:updated_at) %></th>
              <td><%= simple_time(@shop.updated_at) %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to 'お店の情報を編集する', edit_shop_path(@shop), class: 'btn btn-outline-primary mt-5' %>
        <% if user_signed_in? && current_user.admin? %>
          <div class="pt-5">
            <%= link_to '削除', shop_path(@shop), method: :delete, data: { confirm: "「#{@shop.name}」を削除します。よろしいですか？"}, class: 'text-light btn btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
