<%- if controller_name != 'sessions' %>
  <%= link_to "ログイン", new_session_path(resource_name), class: 'text-muted' %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "新規登録", new_registration_path(resource_name), class: 'text-muted' %><br />
<% end -%>

<%#- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%#= link_to "パスワードの再発行", new_password_path(resource_name), class: 'text-muted' %><br />
<%# end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "確認メールの再送信", new_confirmation_path(resource_name), class: 'text-muted' %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "アカウント凍結解除メールの再送信", new_unlock_path(resource_name), class: 'text-muted' %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
