<% if current_user.following?(user) %>
  <%= form_for(current_user.active_relationships.find_by(followed_id: user.id), html: { method: :delete }, remote: true) do |f| %>
    <%= f.submit "アンフォロー", class: 'btn btn-primary w-100' %>
  <% end %>
<% else %>
  <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
    <%= hidden_field_tag :followed_id, user.id %>
    <%= f.submit "フォロー", class: 'btn border-primary w-100' %>
  <% end %>
<% end %>
