<div class="d-inline">
  <% if already_like?(post) %>
    <%= link_to like_path(post_id: post.id, id: current_user.likes.find_by(post_id: post)), method: :delete, remote: true do %>
      <i class="fas fa-heart mr-1"></i>
    <% end %>
  <% else %>
    <%= link_to likes_path(post_id: post.id), method: :post, remote: true do %>
      <i class="far fa-heart mr-1"></i>
    <% end %>
  <% end %>
</div>
<div id="like-count" class="d-inline"><%= post.likes_count %></div>
