<div class="row profile-nav text-center mt-5 px-3">
  <%= link_to user_path(user), class: "col border-top border-bottom py-3 #{"text-primary" if select == "show" }" do %>
    <div class="post-t">
      <p class="pb-1 font-small">レビュー</p>
      <p class="num-font"><%= posts.size %></p>
    </div>
  <% end %>
  <%= link_to bookmark_user_path(user), class: "col border-top border-bottom py-3 #{"text-primary" if select == "bookmark" }" do %>
    <div class="bookmark-t">
      <p class="pb-1 font-small">行きたいお店</p>
      <p class="num-font"><%= user.bookmarks.size %></p>
    </div>
  <% end %>
  <%= link_to following_user_path(user), class: "col border-top border-bottom py-3 #{"text-primary" if select == "following" }" do %>
    <div class="followed-t">
      <p class="pb-1 font-small">フォロー</p>
      <p class="num-font"><%= user.following.size %></p>
    </div>
  <% end %>
  <%= link_to followers_user_path(user), class: "col border-top border-bottom py-3 #{"text-primary" if select == "followers" }" do %>
    <div class="follower-t">
      <p class="pb-1 font-small">フォロワー</p>
      <p id="follower-count" class="num-font"><%= user.followers.size %></p>
    </div>
  <% end %>
</div>
