  <div class="text-center">
    <div class="mt-5 mb-3">
      <%= display_user_image(user, 'resize') %>
    </div>
    <h2><%= user.username %></h2>
  </div>
  <p class="text-center my-4"><%= "いいね獲得数：#{user.get_likes}" %></p>

  <% if user.introduction.present? %>
    <div class="introduction my-4">
      <p class="text-center mb-3">自己紹介</p>
      <div class="border-top border-bottom p-2">
        <%= auto_link(simple_format(h(user.introduction), {}, sanitize: false), html: { target: '_blank' }) %>
      </div>
    </div>
  <% end %>

  <% if user_signed_in? && current_user != user %>
    <div id="follow-btn" class="text-center my-5">
      <%= render 'relationships/follow', user: user %>
    </div>
  <% end %>

  <% if user.favorite.present? %>
    <div class="mb-5">
      <p class="text-center mb-3">お気に入りのお店</p>
      <%= render 'shared/shop', { shop: favorite_shop, col: "" } %>
    </div>
  <% end %>

  <% if current_user?(user) %>
    <div class="mt-5">
      <%= link_to 'ユーザー編集', edit_user_registration_path, class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
