<% provide(:title, "#{@user.username}さんの行きたいお店") %>
<% breadcrumb :user_bookmark, @user %>

<div class="row  justify-content-center">
  <div class="col-md-4">
    <%= render 'users/profile', { user: @user, favorite_shop: @favorite_shop } %>
  </div>

  <div class="col-md-8">
    <%= render 'users/nav', { user: @user, posts: @posts, select: "bookmark" } %>

    <div class="mt-5">
      <h2 class="pb-3">行きたいお店</h2>

      <div class="my-5">
        <%= paginate @shops %>
        <%= page_entries_info @shops %>
      </div>

      <div class="row">
        <%= render partial: "shared/shop", collection: @shops, locals: { col: "col-sm-6 col-xl-4" } %>
      </div>

      <div class="my-5">
        <%= paginate @shops %>
      </div>
    </div>
  </div>
</div>
