<% provide(:title, "#{@user.username}さんがフォローしているユーザー") %>
<% breadcrumb :user_follow, @user %>

<div class="row  justify-content-center">
  <div class="col-md-4">
    <%= render 'users/profile', { user: @user, favorite_shop: @favorite_shop } %>
  </div>

  <div class="col-md-8">
    <%= render 'users/nav', { user: @user, posts: @posts, select: "following" } %>

    <div class="mt-5">
      <h2 class="pb-3">フォロー</h2>

      <div class="my-5">
        <%= paginate @users %>
        <%= page_entries_info @users %>
      </div>

      <div class="row">
        <%= render partial: "shared/user", collection: @users, locals: { col: "col-sm-6 col-xl-4" } %>
      </div>

      <div class="my-5">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
