<% provide(:title, "ユーザーを探す") %>
<% breadcrumb :users %>
<h2 class="pt-5 pb-4">ユーザーを探す</h2>
<%= search_form_for @q, class: 'mb-5' do |f| %>
  <div class="form-group row">
    <div class="col-9">
      <%= f.search_field :username_or_introduction_cont, class: 'form-control', placeholder: "名前・自己紹介の内容で検索" %>
    </div>
    <div class="col-2">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<div class="mb-5">
  <%= link_to '新着順', users_path, class: "btn btn-outline-success mr-3 #{"active" unless params[:sort]}" %>
  <%= link_to '人気順', { controller: "users", action: "index", sort: "popular" }, class: "btn btn-outline-success mr-3 #{"active" if params[:sort]}" %>
</div>

<div class="pt-2 mb-5">
  <%= paginate @users %>
  <%= page_entries_info @users %>
</div>

<div class="row">
  <%= render partial: "shared/user", collection: @users, locals: { col: "col-sm-6 col-md-4 col-xl-3" } %>
</div>

<div class="mb-5">
  <%= paginate @users %>
</div>
