<% provide(:title, "#{@user.username}さんのプロフィール") %>
<% breadcrumb :user, @user %>

<div class="row  justify-content-center">
  <div class="col-md-4">
    <%= render 'users/profile', { user: @user, favorite_shop: @favorite_shop } %>
  </div>

  <div class="col-md-8">
    <%= render 'users/nav', { user: @user, posts: @posts, select: "show" } %>

    <div class="mt-5">
      <h2 class="pb-3">レビュー</h2>

      <div class="my-5">
        <%= paginate @posts %>
        <%= page_entries_info @posts %>
      </div>

      <%= render partial: "shared/post", collection: @posts %>

      <div class="my-5">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
