<%= link_to post_path(post), id: "post-#{post.id}" do %>
  <div class="post-card-t border shadow-sm rounded mt-5 pt-3 px-3 pb-1">
    <div class="row mb-1">
      <div class="col-md-1 text-center">
        <%= display_user_image(post.user, 'resize-50') %>
      </div>
      <div class="col-md-11 md-post">
        <p class="mb-2 md-text-center"><b><%= post.user.username %></b></p>
        <p class="mb-2"><%= "お店：#{post.shop.name}" %></p>
        <div class="py-2 border-top border-bottom">
          <h3 class="mb-3"><%= post.title %></h3>
          <p><%= shorten_description(post) %></p>
        </div>
        <% if post.recomend.present? %>
          <p class="py-2"><%= "おすすめメニュー：#{post.recomend}" %></p>
        <% end %>
        <div class="text-center my-3">
          <%= display_post_image(post, "resize-200") %>
        </div>

        <div class="row mt-2">
          <div class="col-5 text-left">
            <p class="like-t d-inline-block">
              <% if already_like?(post) %>
                <i class="fas fa-heart mr-1"></i>
              <% else %>
                <i class="far fa-heart mr-1"></i>
              <% end %>
              <%= post.likes_count %>
            </p>
            <p class="comment-t d-inline-block">
              <i class="far fa-comments ml-2 mr-1"></i>
              <%= post.comments_count %>
            </p>
          </div>
          <p class="col-7 small text-muted text-right"><%= post_time(post.updated_at) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if current_user?(post.user) %>
  <div class="py-3">
    <%= link_to '編集', edit_post_path(post), class: 'text-light btn btn-primary mr-4' %>
    <%= link_to '削除', post_path(post), method: :delete, data: { confirm: "「#{post.title}」を削除します。よろしいですか？"}, class: 'text-light btn btn-danger' %>
  </div>
<% end %>
