<div class="<%= "#{col} mb-5" %>">
  <%= link_to shop_path(shop), id: "shop-#{shop.id}" do %>
    <div class="card shadow-sm h-100">
      <%= display_image(shop) %>
      <div class="card-body pb-2">
        <h5 class="card-title"><%= shop.name %></h5>
        <p class="card-text mb-1"><i class="fas fa-subway mr-2"></i><%= shop.station %></p>
        <p class="card-text"><i class="fas fa-map-marker-alt mr-2"></i><%= shop.address.presence || '-' %></p>
      </div>
      <div class="card-footer bg-white">
        <p class="bookmark-t card-text d-inline-block">
          <% if shop.bookmarks_count == 0 %>
            <i class="far fa-star mr-1"></i>0
          <% else %>
            <i class="fas fa-star mr-1"></i><%= shop.bookmarks_count %>
          <% end %>
        </p>
        <p class="post-t card-text d-inline-block ml-3">
          <i class="far fa-comment-dots mr-1"></i><%= shop.posts_count %>
        </p>
      </div>
    </div>
  <% end %>
</div>
