<div class="<%="#{col} mb-5"%>">
  <%= link_to user_path(user), id: "user-#{user.id}" do %>
    <div class="card shadow-sm h-100">
      <div class="card-body">
        <div class="text-center">
          <%= display_user_image(user, 'resize') %>
          <h5 class="card-title mt-2"><%= user.username %></h5>
        </div>
        <div class="introduction mb-2">
          <p class="card-text"><%= shorten_introduction(user) %></p>
        </div>
        <p class="card-text small"><%= "レビュー：#{user.posts_count}" %></p>
        <p class="card-text small"><%= "いいね：#{user.get_likes}" %></p>
        <p class="card-text small"><%= "お気に入りのお店：#{user.favorite_shop_name}" %></p>
      </div>
    </div>
  <% end %>
</div>
