<div class="popular-wrapper">
  <div class="d-flex justify-content-between pb-4">
    <h3>人気のお店</h3>
    <%= link_to 'もっと見る', { controller: "shops", action: "index", sort: "popular" }, class: "d-flex align-items-center text-muted small" %>
  </div>
  <div class="row">
    <%= render partial: "shared/shop", collection: @popular_shops, as: :shop, locals: { col: "col-sm-6 col-md-4 col-xl-3" } %>
  </div>
</div>

<div class="new-wrapper">
  <div class="d-flex justify-content-between pb-4">
    <h3>新着のお店</h3>
    <%= link_to 'もっと見る', shops_path, class: "d-flex align-items-center text-muted small" %>
  </div>
  <div class="row">
    <%= render partial: "shared/shop", collection: @new_shops, as: :shop, locals: { col: "col-sm-6 col-md-4 col-xl-3" } %>
  </div>
</div>

<div class="topuser-wrapper">
  <div class="d-flex justify-content-between pb-4">
    <h3>トップユーザー</h3>
    <%= link_to 'もっと見る', { controller: "users", action: "index", sort: "popular" }, class: "d-flex align-items-center text-muted small" %>
  </div>
  <div class="row">
    <%= render partial: "shared/user", collection: @popular_users, locals: { col: "col-sm-6 col-md-4 col-xl-3" } %>
  </div>
</div>
