<div class="border-top border-bottom p-2 mb-1">
  <div class="row">
    <div class="col-1 text-center">
      <%= link_to user_path(comment.user) do %>
        <%= display_user_image(comment.user, 'resize-30') %>
      <% end %>
    </div>
    <div class="col-10 ml-1 mb-2">
      <p class="mb-1"><b><%= link_to comment.user.username, user_path(comment.user) %></b></p>
      <p><%= auto_link(simple_format(h(comment.content), {}, sanitize: false, class: 'py-2'), html: { target: '_blank' }) %></p>
    </div>
  </div>
  <p class="small text-muted text-right">
    <%= "#{post_time(comment.created_at)}" %>
    <%= delete_comment(post, comment) %>
  </p>
</div>
