<% provide(:title, "#{@shop.name}のレビュー編集") %>
<% breadcrumb :post_edit, @shop , @post%>

<div class="row  justify-content-center px-3 py-5">
  <div class="col-md-8 p-5 border rounded shadow-sm">
    <h2 class="mb-4"><%= "#{@shop.name}のレビュー編集" %></h2>
    <div class="nav justify-content-end">
      <%= link_to '戻る', post_path(@post), class: 'text-muted' %>
    </div>

    <% if @post.errors.present? %>
      <ul id="error_explanation">
        <% @post.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with(model: @post, local: true ) do |f| %>
      <div class="form-group">
        <%= f.label :title %><span class="need">*</span>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :description %><span class="need">*</span>
        <%= f.text_area :description, rows: 5, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :recomend %>
        <%= f.text_field :recomend, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :picture %><br>
        <% if @post.picture? %>
          <%= image_tag(@post.picture.url, class: 'img-thumbnail resize d-block mt-2 mb-3') %>
          <%= f.label :remove_picture, for: 'exampleCheck1', class: 'mb-4' do %>
            <%= f.check_box :remove_picture, id: 'exampleCheck1' %>
            <small>画像を削除する</small>
          <% end %>
        <% end %>
        <%= f.file_field :picture, class: 'form-control-file', accept: 'image/jpeg,image/png'  %>
        <%= f.hidden_field :picture_cache %>
      </div>
      <%= f.submit nil, class: 'btn btn-primary mt-4' %>
    <% end %>
  </div>
</div>
