<% provide(:title, "#{@shop.name}のレビュー一覧") %>
<% breadcrumb :posts, @shop %>

<div class="row justify-content-center">
  <div class="col-md-8">
    <h2 class="pt-5 pb-3"><%= link_to @shop.name, shop_path(@shop) %>のレビュー一覧</h2>
    <div class="row justify-content-end pb-3">
      <%= link_to 'お店に戻る', shop_path(@shop) %>
    </div>
    <div class="mb-5">
      <%= paginate @posts %>
      <%= page_entries_info @posts %>
    </div>

    <%= render partial: "shared/post", collection: @posts %>

    <div class="mb-5">
      <%= paginate @posts %>
    </div>
    <%= link_to 'レビューを投稿する', new_shop_post_path(@shop), class: 'btn btn-outline-primary mt-3' %>
  </div>
</div>
