<% provide(:title, "#{@shop.name}のレビュー詳細") %>
<% breadcrumb :post, @shop, @post %>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <h2 class="pt-5 pb-3"><%= link_to @shop.name, shop_path(@shop) %>のレビュー詳細</h2>

    <div class="border shadow-sm rounded mt-3 pt-3 px-3 pb-1">
      <div class="row mb-1">
        <div class="col-md-1 text-center">
          <%= link_to user_path(@post.user) do %>
            <%= display_user_image(@post.user, 'resize-50') %>
          <% end %>
        </div>
        <div class="col-md-11 md-post">
          <p class="mb-2 md-text-center"><b><%= link_to @post.user.username, user_path(@post.user) %></b></p>
          <p class="mb-2">お店：<%= link_to @shop.name, shop_path(@shop) %></p>
          <div class="py-2 border-top border-bottom">
            <h3 class="mb-3"><%= @post.title %></h3>
            <p><%= auto_link(simple_format(h(@post.description), {}, sanitize: false), html: { target: '_blank' }) %></p>
          </div>

          <% if @post.recomend.present? %>
            <p class="py-2"><%= "おすすめメニュー：#{@post.recomend}" %></p>
          <% end %>
          <div class="text-center my-3">
            <%= display_post_image(@post, "resize-max") %>
          </div>

          <div class="row mt-2">
            <div class="col-5 text-left">
              <div id="like-btn" class="d-inline-block like-t">
                <%= render 'likes/like', post: @post %>
              </div>
              <div class="d-inline-block comment-t">
                <i class="far fa-comments ml-2 mr-1"></i>
                <%= @post.comments_count %>
              </div>
            </div>
            <p class="col-7 small text-muted text-right"><%= post_time(@post.updated_at) %></p>
          </div>
        </div>
      </div>
    </div>

    <% if user_signed_in? && current_user?(@post.user) %>
      <div class="my-3">
        <%= link_to '編集', edit_post_path(@post), class: 'text-light btn btn-primary mr-4' %>
        <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: "「#{@post.title}」を削除します。よろしいですか？"}, class: 'text-light btn btn-danger' %>
      </div>
    <% end %>

    <div class="comment-wrapper">
      <div>
        <h5 class="mt-5"><%= "コメント #{@post.comments_count}件" %></h5>
        <%= render partial: "posts/comment", collection: @comments, locals: { post: @post } %>
      </div>
      <div>
        <% if user_signed_in? %>
          <h5 class="mt-4">コメント投稿</h5>
          <% if @comment.errors.present? %>
            <ul id="error_explanation">
              <% @comment.errors.full_messages.each do |message| %>
                <li class="text-danger"><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <%= form_with(model: [@post, @comment], local: true) do |f| %>
            <div class="form-group">
              <%= f.text_area :content, rows: 3, class: 'form-control' %>
            </div>
            <%= f.submit '送信', class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
