<% provide(:title, "タイムライン") %>
<% breadcrumb :timeline %>

<div class="row justify-content-center">
  <div class="col-md-8">
    <h2 class="pt-5 pb-3">タイムライン</h2>

    <div class="my-5">
      <%= paginate @posts %>
      <%= page_entries_info @posts %>
    </div>

    <% if @posts.empty? %>
      <p>ユーザーをフォローしましょう</p>
      <%= search_form_for @q, url: users_path, method: :get, class: 'mt-3' do |f| %>
      <div class="form-group row">
        <div class="col-9">
          <%= f.search_field :username_or_introduction_cont, class: 'form-control', placeholder: "名前・自己紹介の内容で検索" %>
        </div>
        <div class="col-2">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
      <% end %>
    <% end %>

    <%= render partial: "shared/post", collection: @posts %>

    <div class="my-5">
      <%= paginate @posts %>
    </div>
  </div>
</div>
