/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/*        concern        */
* {
}

h1, h2, h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #333;
}

a:visited {
  color: #333;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

/*        header        */

.navbar a {
  color: #fff;
}

.bg-yellow {
  background-color: #FCF7B3;
}

.header-icon {
  width: 24px;
}

.resize {
  width: 100px;
  height: 100px;
}

.resize-30 {
  width: 30px;
  height: 30px;
}

.resize-50 {
  width: 50px;
  height: 50px;
}

.resize-200 {
  max-width: 200px;
  height: auto;
}

.resize-max {
  max-width: 100%;
  height: auto;
}

.alert {
  margin-top: 57px;
  margin-bottom: 0;
  border-radius: 0;
}

/*        Top page        */

.top {
  width: 100%;
  height: auto;
  background-image: url('/assets/top.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-container h2 {
  color: #fff;
  text-shadow: black 0 0 1px;
  font-size: 3rem;
}

/*        form        */
.need {
  color: red;
  font-weight: bold;
}

.field_with_errors {
  display: inline;
  color: red;
}

.field_with_errors .form-control {
  border: 1px solid red;
}

#error_explanation {
  color: red;
}

/*        shop#show        */
.shop-image img {
  max-width: 100%;
  height: auto;
}

/*        user#show        */
.introduction {
  text-align: center;
}

.introduction p {
  display: inline-block;
  text-align: left;
}

.num-font {
  font-size: 1.5rem;
}

.profile-nav a:hover {
  color: #007bff;
}

.fa-heart {
  font-size: 1.3rem;
  color: red;
}

.fa-comments {
  font-size: 1.3rem;
}

.bookmark {
  font-size: 1.5rem;
}

.fa-star {
  color: #FFCC33;
}

@media (max-width: 991px) {
  .font-small {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .d-pc {
    display: none;
  }

  .scroll_bar {
    overflow-x: scroll;
    white-space: nowrap;
  }

  .top-container {
    padding: 122px 20px 100px;
  }

  .md-text-center {
    text-align: center;
  }

  .font-small {
    font-size: 0.6rem;
  }
}

@media (max-width: 575px) {
  .top-container {
    padding: 120px 10px 5px;
  }

  .top-container h2 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .d-sp {
    display: none;
  }

  .container {
    padding-top: 60px;
  }

  .top-container {
    padding: 220px 20px 180px;
  }

  .md-post {
    padding-left: 1.5rem;
  }
}
