<div class="bg-light border-top border-bottom d-sp scroll_bar">
  <%= breadcrumbs separator: " &rsaquo; ", class: 'container py-2' %>
</div>
<footer class="py-5 bg-dark d-flex justify-content-end">
  <p class="text-light pr-3 m-0">&copy; 2019 Shogo</p>
</footer>
