<nav class="navbar navbar-expand-lg navbar-light bg-yellow fixed-top">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <h1 class="mb-0 d-inline-block">Burger Mania!</h1>
    <%= image_tag('/assets/burger-icon.png', class: 'header-icon d-inline-block align-top') %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3">
        <%= link_to 'お店を探す', shops_path, class: 'nav-link' %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to 'ユーザーを探す', users_path, class: 'nav-link' %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item mr-3">
          <%= link_to 'タイムライン', timeline_path, class: 'nav-link' %>
        </li>
        <li class="nav-item mr-3">
          <%= link_to user_path(current_user), class: 'nav-link' do %>
            <%= display_user_image(current_user, 'resize-30') %>
            <%= current_user.username %>さん
          <% end %>
        </li>

        <% if current_user.admin? %>
          <li class="nav-item mr-3">
            <%= link_to '管理画面', rails_admin_path, class: 'nav-link' %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>

        <li class="nav-item mr-3">
          <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>

    </ul>
  </div>
</nav>

<% if flash.notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if flash.alert.present? %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
<% end %>
