<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if controller.controller_name == 'pages' && controller.action_name == 'index' %>
      <div class="top">
        <div class="top-container text-center">
          <h2 class="pb-3">次に食べたい<span class="d-inline-block">ハンバーガー</span>が見つかる</h2>
          <%= search_form_for @q, url: shops_path, method: :get, class: 'mb-5' do |f| %>
            <div class="form-group row justify-content-center">
              <div class="col-sm-4 col-10 m-2">
                <%= f.search_field :name_cont, class: 'form-control', placeholder: "お店の名前で検索" %>
              </div>
              <div class="col-sm-4 col-10 m-2">
                <%= f.search_field :address_or_station_cont, class: 'form-control', placeholder: "住所・駅名で検索" %>
              </div>
              <div class="m-2">
                <%= f.submit class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="container my-5">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
